<!-- Landing page -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basket UC</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'pages/logo_navidad.png' %}">
    <style>
        body {
            margin: 0;
            background-color: #205591;
        }
    </style>
</head>
<body>
    <h1>Copa Navidad</h1>
    <h2>RAMÓN DÍAZ</h2>
    <h3>6 a 8 de diciembre</h3>
    <img src="{% static 'pages/banner_navidad.jpeg' %}" alt="Banner" style="width: 100%; height: auto;">
</body>
</html>